DemoSCWebsite/MSD.DemoWebsite/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DemoSCWebsite/.vs/DemoSCWebsite/v17/.suo
DemoSCWebsite/.vs/DemoSCWebsite/FileContentIndex/54aba850-f9fb-49b8-8627-bbee07042012.vsidx
DemoSCWebsite/.vs/DemoSCWebsite/FileContentIndex/66001391-3482-4440-818b-a7ae310c5658.vsidx
DemoSCWebsite/.vs/DemoSCWebsite/FileContentIndex/8962984e-cea0-42e6-966e-c35ca3227ae0.vsidx
DemoSCWebsite/.vs/DemoSCWebsite/FileContentIndex/c1885a0a-afbb-48fc-878f-a2795d49a4bf.vsidx
DemoSCWebsite/.vs/DemoSCWebsite/FileContentIndex/f88753c3-aa2d-4220-9e3a-aca23701e7b9.vsidx
DemoSCWebsite/.vs/DemoSCWebsite/v16/.suo
